<%- include("partial/header") %> 
<h1>Home</h1>
<p><%= details %> </p>

<% blogPosts.forEach(function(blogPost){ %>
    <h1> <%= blogPost.tittle %></h1>
     <p>
         <%= blogPost.text.substring(0,100)+" ..."%> 
         <a href="/posts/<%= blogPost.tittle  %>  ">Read More</a>
    </p>
    <%  })%>
     
<%- include("partial/footer") %> 